#arrows {
    position: absolute;
    bottom: 10%;
    font-size: 25px;
}

@media (max-width: 500px) {
    #arrows {
        font-size: 30px;
        bottom: 0%;
    }
    .noneMobile {
        display: none;
    }
}

@media (min-width: 500px) {
    .mobile {
        display: none;
    }
}