@font-face {
  font-family: lexendGiga;
  src: url('./fonts/LexendGiga-Regular.ttf');
  font-family: karla;
  src: url('./fonts/Karla-VariableFont_wght.ttf');
}

body{
  height: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #3e6464
}

.main {
position: relative;
}

#heading {
  font-family: lexendGiga;
  text-align: center;
  color: rgb(240, 248, 255);
  text-decoration: overline;
}

#headingFirefox {
  font-family: lexendGiga;
  text-align: center;
  color: rgb(240, 248, 255);
  text-decoration: underline;
}

#flex {
  display: flex;
  flex-direction: row;
  background-color: rgb(110, 110, 223);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 8vh;
}

.container {
  margin: 0vh;
}

#links {
  background-color: #f5deb3;
  border-radius: 20px;
  padding: 1vw;
}

#content {
  padding: 0px;
}

.navbar {

  display: flex;
  justify-content: center;
  background-color: #f5deb3;
  border-radius: 20px;
}

#navlink {
  color: rgb(236, 236, 236);
  background-color: rgb(91, 28, 192);
  border-radius: 15px;
  border-width: 2px;
  padding: 2px;
}

.home, .about, .work, .contact {
  font-family: lexendGiga;
  display: flex;
  justify-content: center;
}

.navSvg {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  width: 60px;
  height: 60px;
  stroke: none;
  fill:#009688;

  transition: fill 1s;
}
.navSvg:hover {
fill: rgb(0, 0, 0);
}

.socialSvg {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  width: 60px;
  height: 60px;
  stroke: none;
  fill: #222222;

  transition: fill 1s;
}
.socialSvg:hover {
  fill: #009688;
}

#text {
  font-family: karla;
  margin-left: 5vh;
  margin-right: 5vh;
}

@supports not (text-decoration: overline) {
  #heading {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {

  .navSvg{
    width: 40px;
    height: 40px;
  }
  .socialSvg{
    width: 40px;
    height: 40px;
  }

}