@font-face {
  font-family: lexendGiga;
  src: url('./fonts/LexendGiga-Regular.ttf');
  font-family: karla;
  src: url('./fonts/Karla-VariableFont_wght.ttf');
  font-family: poppinsExtraBold;
  src: url('./fonts/Poppins-ExtraBold.ttf');
  font-family: poppinsLight;
  src: url('./fonts//Poppins-Light.ttf');
}

body{
  height: 100%;
  max-width: 700px;
  margin: auto;
  background: transparent;
  background-color: #090a0f;

  background: radial-gradient(ellipse at bottom, #090a0f, 
  #090a0f);
  overflow: hidden;
}

.main {
display: flex;
flex-direction: column;
}

#content { 
  color: rgb(210, 210, 210);
}

#title {
  font-family: poppinsExtraBold;
  text-align: center;
  font-size: 70px;
}

@media (max-width: 350px) {
  #title {
  font-size: 45px;
  }
}

#text {
  font-family: poppinsLight;
  margin-left: 3vh;
  margin-right: 3vh;
}
