
.grid {
    display: flex;
    flex-direction: column;

    /* height: 58vh;
    overflow: auto; */
}

.gridTop, .gridBottom {
    display: flex;
    flex-direction: space;
    justify-content: space-evenly;
}

#link {
    color: #f0f8ff;
    text-decoration: underline;
}