
.grid {
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

.gridTop, .gridBottom {
    display: flex;
    flex-direction: space;
    justify-content: space-evenly;
}


#grid1, #grid2, #grid3, #grid4 {
    width: 50vh;
    height: 25vh;

    overflow: auto;
}

#link {
    color: #f0f8ff;
    text-decoration: underline;
}


 @media (max-width: 500px) {
    .grid {
        font-size: 14px;
    }
}